.banner {
    background: url(./background.jpg) 
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color:black;
} 
.h4 {
    font-size: 20px;
    font-weight: bold;
    color: black solid;
    background-color: #fff;
}
.about img{
width: 300px;
height: 300px;
padding: 10px;
}
.about h4 {
    text-align: center;
    padding: 20px;
}
.row{
    background-color: rgba(180, 173, 173, 0.548);
    width: 100%;
    padding: 100px;
}
.container-fluid{
    width: 400px;
    height: 400px;
}
.col-4{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}